# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Variables sensibles y Claves privadas
*.tfvars
*.tfvars.json
*.pem
*.env

# Terraform lock
.terraform.lock.hcl

# VS Code
.vscode/

# OS / Sistema
Thumbs.db
.DS_Store